@import "../../../scss/variables/app";

.svg-painter {
  height: 100% !important
}


/**COMPLETE STORY**/

.stu-story-info {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;

  .stu-activity-content-area {
    max-width: rem(310px);
    width: 100%;
    margin: 0px auto rem(20px);

    @media screen and(max-width: 991px)and(min-width:320px) {
      max-width: 100%;
      text-align: center;
    }
  }

}

.stu-complete-story-sec {
  @media screen and (orientation:landscape) {
    height: 100%;
    padding-top: rem(20px);
    min-height: 100vh;
  }


  .stu-activity-header {
    &.story-heading {
      @media screen and(max-width: 991px)and(min-width:320px) {
        padding: rem(10px) 0;

        h2 {
          margin-bottom: 0;
        }
      }

    }

    h5 {
      font-size: rem(20px);

      @media screen and(max-width: 991px)and(min-width:320px) {
        font-size: rem(16px);
      }

    }
  }

  .activity-img {
    width: 100%;
    max-width: rem(415px);
    height: rem(200px);
    margin: 0px auto;
    text-align: center;

    svg {
      width: 100%;
      max-width: rem(415px);
      height: rem(200px);
    }
  }


}

.stu-story-steps,
.stu-activity-sec,
.stu-complete-story-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;



}




@media print {
  .row {
    padding-right: 0px;
    margin-right: 0px;
  }

  .container {
    max-width: 768px !important;
    width: 100% !important;
    padding: 50px 0 0 0 !important;
    margin: 0 !important;
  }

  .stu-story-header,
  .stu-activity-footer-info,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .stu-story-info {
    flex-direction: column;
    align-items: start;
    overflow: auto;

    &.row {
      display: block;
    }

    .col-lg-3 {
      width: 100%;
      page-break-after: always;
    }

    .row {
      display: block;
    }

    .stu-activity-content-area {
      max-width: 400px;
    }
  }
}
