.btn-primary {
    background: $primary !important;
    transition: all 0.3s ease;
    border: 1px solid $primary !important;
    color: $white !important;
    font-weight: 500 !important;

    &:hover,
    &:active,
    &:focus {
        background: $primary-400 !important;
        border: 1px solid $primary !important;
        box-shadow: none;

    }
}

.btn-outline-primary {
    background: transparent !important;
    transition: all 0.3s ease;
    border: 1px solid $primary !important;
    color: $primary !important;

    &:hover,
    &:active,
    &:focus {
        background: $primary !important;
        border: 1px solid $primary;
        box-shadow: none;
        color: $white !important;
        font-weight: 500 !important;
    }

}
