.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
  }
  .checkbox  {
    label{

    
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: rem(25px);
    margin-bottom: 0;
    display: flex;
    &:before,
    &:after {
      position: absolute;
      content: "";
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &:before {
      height: rem(22px);
      width: rem(22px);
      border: 1px solid $light-300;
      left: 5px;
      border-radius: rem(2px);
      cursor: pointer;
     right: 0;
    background: $white;
    }
    &:after {
      height: rem(6px);
      width: rem(12px);
      border-left: 2px solid $primary;
      border-bottom: 2px solid $primary;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: 10px;
 
   
    }
  }
}
 
   .checkbox input[type="checkbox"]+label {
       &:after{
        content: none;
       }
  
  }
  /*Unhide on the checked state*/
  .checkbox input[type="checkbox"]:checked+label {
      &:after{
        content: "";
      }
  
  }
  
  /*check*/
 