@import "../../../../scss/variables/app";



.color-active {
  border-color: $light-500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.caption-list {
  margin: 0;
  padding: 0;

  li {
    transition: all 0.3s;
    position: relative;
    display: flex;
    padding: 0.5rem 0.5rem;
    align-items: center;
    background: $light-200;
    border: 1px solid $light-300;
    margin-bottom: 0.75rem;
    cursor: pointer;
    @media screen and(max-width: 1024px)and(min-width:320px) {
    font-size:rem(13px);
    }
    &.active,
    &:hover {
      border-color: $light-green;
      background: $light-400;
    }
  }

}
