<div class="container">
  <div class="row color-options">
    <div class="col-md-4">
      <h1 class="text-center">Color It!</h1>
      <p>Use the color below to color the coloring page!</p>
      <div class="colors-wrapper">
        <div class="palette row">
          <div class="col-sm-3 col-md-1 col-lg-2 col-2 color-sample-container" *ngFor="let item of colors"
            (click)="selectColor(item.color)">
            <div class="color-sample" [style.backgroundColor]="item.color"
              [ngClass]="{'active': item.color === selectedColor}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" [svgPainter] [selectedColor]="selectedColor" (onSvgClicked)="onSvgClicked($event)"
      [activity]='activity' [inlineSVG]="svgUrl">
    </div>
  </div>
  <div class="row caption-options mt-5 " cdkDropListGroup>
    <div class="col-md-4">
      <h2 class="text-center mb-3">Caption Options</h2>
      <ul cdkDropList [cdkDropListData]="captions" [cdkDropListSortingDisabled]="true" class="example-list">
        <li *ngFor="let caption of captions" cdkDrag>{{caption.captionLabel}}</li>
      </ul>
    </div>
    <div class="col-md-8">
      <h2 class="text-center mb-3">Caption It!</h2>
      <div class="captionable-zone" cdkDropList [cdkDropListData]="selectedCaption" class="example-list"
        (cdkDropListDropped)="dropHandler($event)">
        <div class="example-box" *ngFor="let item of selectedCaption">{{item.captionLabel}}</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)="goBack()">Previous</button>
    <button type="button" class="btn btn-light" (click)="goNext()">Next ></button>
  </div>
</div>
