<div class="main-wrapper">
  <div class="container">
    <!--stu activity-->
    <section class="stu-activity-sec pt-4 pb-4 ">
      <div class="row stu-activity-row ">
        <div class="col-md-12 col-lg-5 col-xl-4">
          <div
            class="stu-activity-header align-items-md-center justify-content-md-center mb-4 pb-0 d-flex flex-column align-items-lg-start justify-content-lg-start">
            <h2>Color It!</h2>
            <p>Use the colors below to color the coloring page!</p>
          </div>

          <div class="color-palettes">
            <button class="p-2 btn btn-sm" type="button" *ngFor="let item of colors" (click)="selectColor(item.color)"
              [style.backgroundColor]="item.color" [ngClass]="{'color-active': item.color === selectedColor}"></button>
          </div>

          <div class="stu-activity-right-col">
            <div class="stu-activity-header caption-heading pt-2  pb-2 d-flex align-items-start justify-content-start">
              <h2>Select Caption</h2>
            </div>
            <div class="stu-activity-content-area">
              <ul class="list-unstyled caption-list">
                <li *ngFor="let caption of captions" (click)="selectCaption(caption)" [ngClass]="{'active': selectedCaption.order === caption.order}">{{caption.captionLabel}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 col-xl-8">
          <div class="stu-activity-right-col">
            <app-svg-painter [activity]='activity' [activityConfig]="activityConfig" [selectedColor]='selectedColor'
              (onSvgClicked)="onSvgClicked($event)"></app-svg-painter>
          </div>
        </div>
      </div>


      <div class="stu-activity-footer-info justify-content-end">
        <a href="javascript:void(0)" class="prev me-4" (click)="goBack()"> <i class="bi bi-chevron-left"></i>
          Previous</a>
        <a href="javascript:void(0)" class="next" (click)="goNext()">Next <i class="bi bi-chevron-right"></i></a>
      </div>
    </section>
    </div>
  </div>