@import "../../../../scss/variables/app";

.color-active {
  border-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.caption-list {
  margin: 0;
  padding: 0;

  li {
    transition: all 0.3s;
    position: relative;
    display: flex;
    padding: 0.5rem 0.5rem;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #f3eeee;
    margin-bottom: 0.75rem;
    cursor: pointer;
    &.active,
    &:hover {
      border-color: #6ebb6e;
      background: #daffda;
    }
  }

}
