@import "../../../scss/variables/app";
.color-active {
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
