<div class="main-wrapper">

  <div class="container">
    <div class="intro-sec">
      <div class="row mb-3 mt-3">
        <div class="col-md-12">
          <div class="stu-activity-header">
            <h1 [innerHTML]="introductionPageTitle"></h1>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-6" [innerHTML]="introductionText">
        </div>
        <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6 col-xl-6">

          <div class="intro-img">
            <img src="assets/{{this.introductionImage}}"/>
          </div>

        </div>
        <div class="stu-activity-footer-info mt-5 pb-4 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" (click)="fileInput.click()">{{importButtonLabel}}
            <input type="file" #fileInput accept=".cb" [fileUploader] name="fileUploader" (onUpload)="onFileUpload($event)" class="visually-hidden" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
