
@import "../../../scss/variables/app";
:host{

  height:100%;

}

.intro-sec{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.intro-img{
  border:1px solid $light-300;
  padding:rem(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(2px);
  @media screen and(max-width: 767px)and(min-width:320px) {
   margin-top:rem(30px);
  }

}

.stu-activity-footer-info {
  @media screen and(max-width: 767px)and(min-width:320px) {
    margin-top:rem(30px) !important;
   }

}
