
@import "../../../scss/variables/app";
:host{

  height:100%;

}

.intro-sec{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.intro-img{
  border:1px solid $light-300;
  padding:rem(10px);
  @media screen and(max-width: 767px)and(min-width:320px) {
   margin-top:rem(30px);
  }
  img{
    width: 100%;
    max-width: 500px;
    height: 450px;
    @media screen and(max-width: 767px)and(min-width:320px) {
  height:100%;
  max-width: 100%;
     }
  }
}
