
@import "../../../../scss/variables/app";
:host{

  height:100%;
 
}

.intro-sec{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.intro-img{
  border:1px solid $light-300;
  padding:rem(10px);
  img{
    width: 100%;
    max-width: 500px;
    height: 450px;
  }
}
