<swiper [pagination]="{ clickable: true }" [allowTouchMove]="false" [navigation]="true" class="mySwiper"
  (slideChange)="onSlideChange($event)">
  <ng-template swiperSlide>
    <app-introduction></app-introduction>
  </ng-template>
  <ng-container *ngIf="renderActivities">
    <ng-container *ngFor="let activity of activityPages; let i=index">
      <ng-template swiperSlide>
        <app-activity [currentIndex]="i" [activitiesSettings] = "activitiesSettings" [activity] = "activity" [colors]="colors"></app-activity>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template swiperSlide>
    <app-overview-page></app-overview-page>
  </ng-template>
</swiper>
