// Theme colors
@import "../components/mixin";
$orange: #f59e0b !default;



$white: #fff !default;
$black: #000 !default;
$gray-90:#001f2b;
$light-gray:#f7f6f6;
$light:#fdfdfd;
$light-200:#f9f9f9;
$light-300:#f3eeee;
$light-400:#daffda;
$light-500:#ccc;
$light-green:#6ebb6e;

$primary: $orange !default;
$theme-colors: ("primary": $primary) !default;
$font-family-sans-serif: 'Quicksand', sans-serif;

// fusv-disable
$primary-100: tint-color($primary, 94%) !default;
$primary-200: tint-color($primary, 60%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;

$primary-600: shade-color($primary, 20%) !default;
$primary-700: shade-color($primary, 40%) !default;
$primary-800: shade-color($primary, 60%) !default;
$primary-900: shade-color($primary, 80%) !default;
